// FRONTPAGE HEADER
#frontpage-nav {
    z-index: 100;
    position: absolute;
    top: 0;
    width: 100%;
  
 }



// MOST RECENT POST
.most-recent-img {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    overflow: hidden;
 
}

 

#most-recent-content {
position: absolute;
left: 0;
bottom: 0;
margin-bottom: 100px;
z-index: 30;
padding: 0 100px;

@media only screen and (max-width: 1024px) {
    margin-bottom: 300px;
padding: 0 50px;

}

@media only screen and (max-width: 834px) {
    margin-bottom: 180px;
}

@media only screen and (max-width: 531px) {
    padding: 0 20px;
    margin-bottom: 100px;

}
}   



#most-recent-text {
    text-shadow: 3px 3px 3px #000;
}

.most-recent-title {
    font-size: 45px;
    @media only screen and (max-width: 600px) {
        font-size: 40px;
    }
} 

.most-recent-excerpt {
    font-size: 20px;
    @media only screen and (max-width: 531px) {
        // font-size: 15px;
    }
    } 

    #front-header-text {
        a {
            color: #C6CCB2;
            text-shadow: 1px 1px 1px #000;  
        }
      }