// FRONTPAGE HEADER
#frontpage-nav {
    z-index: 100;
    position: absolute;
    top: 0;
    padding-left: 30px;
    padding-top: 40px;
    a {
        color: #C6CCB2;
        text-shadow: 1px 1px 1px #000;  
    }
 }



// MOST RECENT POST
.most-recent-img {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    overflow: hidden;
@media only screen and (max-width: 531px) {
    // width: 500px;

}
}

 

#most-recent-content {
position: absolute;
left: 0;
bottom: 0;
margin-bottom: 100px;
z-index: 30;
padding: 0 70px;

@media only screen and (max-width: 1024px) {
    padding: 0 40px;
}

@media only screen and (max-width: 531px) {
    padding: 0 20px;
}
}



#most-recent-text {
    text-shadow: 3px 3px 3px #000;
}

.most-recent-title {
    font-size: 45px;
    @media only screen and (max-width: 600px) {
        font-size: 25px;
    }
} 

.most-recent-excerpt {
    font-size: 20px;
    @media only screen and (max-width: 600px) {
        font-size: 16px;
    }
    } 