// INDEX GRID

.recent-grid-title {
    font-size: 30px;
    padding: 380px 10px 0;
    margin-top: 600px;
    width: 100%;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    @media only screen and (max-width: 1024px) {
      margin-top: 1000px;
    }

    @media only screen and (max-width: 834px) {
      margin-top: 820px;
    }

    @media only screen and (max-width: 810px) {
      margin-top: 700px;
    }


    @media only screen and (max-width: 768px) {
      margin-top: 650px;
    }

    @media only screen and (max-width: 600px) {
      margin-top: 590px;
    }
    @media only screen and (max-width: 531px) {
      padding-top: 300px;
    }
    @media only screen and (max-width: 384px) {
      padding-top: 220px;
    }
}

.frontpage-grid {
    padding: 30px 250px 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;

    @media only screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  padding: 20px 10px;
    }

    @media only screen and (max-width: 600px) {
    grid-template-columns: 1fr;
    }
}


.CTA {
  list-style-type: none;
}