// INDEX GRID

.recent-grid-title {
    // margin-top: 1150px;
    font-size: 30px;
    padding: 1100px 10px 0;
    width: 100%;
    font-weight: bold;
    // background: green;
    text-align: center;
    text-decoration: underline;

}

.frontpage-grid {
    padding: 30px 250px 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;

    @media only screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  padding: 20px 10px;
    }

    @media only screen and (max-width: 600px) {
    grid-template-columns: 1fr;
    }
}


.CTA {
  list-style-type: none;
}